.add-recipe-button.add {
    position: relative !important;
    left: 0%;
    transform: translateX(0%) !important;
    bottom: 0;
  }
  #root {
    min-height: 100vh;
  }
  .main.mobil {
    min-height: 0;
  }
  .add-recipe-button.add.mobile {
    font-size: 16px;
    padding: 1vh 8vw;
    border-radius: 15px;
  }
  .profil.mobile {
    height: 54vh;
    padding-top: 12vh;
    align-items: baseline;
  }
  .upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid white; /* Contur alb */
    color: white; /* Text și icon alb */
    font-family: 'Montserrat', sans-serif; /* Font modern */
    font-size: 16px;
    font-weight: 600;
    padding: 1.2vh 1.5vw; /* Spațiere interioară */
    border-radius: 20px; /* Colțuri rotunjite */
    cursor: pointer;
    transition: all 0.3s ease; /* Efect de tranziție la hover */
  }
  .upload-button.mobil {
    top: -2vh;
    border-radius: 15px; /* Colțuri rotunjite */
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding: 1.2vh 3.5vw; /* Spațiere interioară */
  }
  
  .upload-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fundal subtil la hover */
  }
  
  .upload-icon {
    width: 20px; /* Dimensiunea iconului */
    height: 20px;
    margin-right: 8px; /* Spațiere între icon și text */
  }
  .informatiiBucatar.add {
    justify-content: space-evenly;
    padding-top: 3vh;
    width: 30vw;
  }
  .informatiiBucatar.add.mobil {
    width: 85vw;
    height: 40vh;
  }
  .content-nickname.informatii.add {
    width: 25vw;
}
.content-nickname.informatii.add.mobil {
  width: 70vw;
}
@media screen and (max-width: 1400px) {
    .informatiiBucatar.add {
        width: 40vw;
      }
      .content-nickname.informatii.add {
        width: 35vw;
      }
      .add-recipe-button.add {
        font-size: 20px;
      }
}