.main {
    min-height: 100vh;
    width: 100%;
    background-image: url('./../assets/background.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#root {
    padding: 0;
    max-width: 100vw !important;
    min-width: 100vw !important;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur {
    filter: blur(1.5px);
}
.inline {
    display: inline-block;
}
.flex-row {
    flex-direction: row !important;
    align-items: end !important;
    justify-content: start;
}
.p1 {
    padding-left: 1vw;
}
textarea:focus-visible {
    outline: none;
}
.w-60 {
    width: 60% !important;
}