footer svg {
    display: block;
}
footer {
    margin-top: 5vh;
    position: relative;
    display: flex;
    align-items: end;
}
.retele-media {
    position: absolute;
    gap: 1.5vw;
}
.retele-media img{
    width: 3.2vw;
}