@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* navbar */

.nav-desktop {
    /*stilizare navbar*/
    position: absolute;
    width: 100%;
    min-height: 11vh;
    left: 0;
    right: 0px;
    gap:8vw;
    top: 0px;
    display: flex;
    background: #00236D;
    box-shadow: 0px 1px 14px #021B2C;
    border-radius: 0px 0px 25px 25px;
}


.nav-desktop ul {
    /*componenta pentru link-uri*/
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}
.nav-desktop ul li {
    position: relative;
}
.loginSVG {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setari {
    position: relative;
    margin-left: auto;
    right: 4vw;
}
.textLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto !important;
}
.textSectiuni {
    /*text pentru linkurile de recipe si add recipe*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}

.navLogo {
    /*div principal pentru header*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 4vw;
}

.logoText {
    /* chef */
    display: inline;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}



/*Nav mobile*/

  /* Header-ul pentru mobil */
  .mobile-header {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo {
    max-height: 40px;
  }
  
  .menu-toggle {
    background: none;
    margin-left: 2vw;
    border: none;
    top:3vh;
    position: absolute;
    padding: 2vmin;
    font-size: 24px;
    cursor: pointer;
  }
  .menu-toggle:focus,
.menu-toggle:active {
  outline: none;
  box-shadow: none; /* Elimină orice umbră */
  background: none; /* Asigură-te că nu are fundal */
}
  
  /* Meniul mobil */
  .mobile-menu {
    position: fixed;
    bottom: 0 !important;
    top:0 !important;
    background-color: rgba(255, 255, 255, 0.488);
    backdrop-filter: blur(1px);
    height: 100vh;
    left: 0;
    padding-top: 6vh;
    z-index: 1000;
    width: 35vw;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Ascunde meniul în afara ecranului */
  }
  
  .mobile-menu.open {
    transform: translateX(0); /* Afișează meniul */
  }
  
  .mobile-menu.hidden {
    transform: translateX(-100%); /* Ascunde meniul */
  }
  
  .mobile-menu ul {
    list-style: none;
  }
  
  .mobile-menu li {
    margin: 1vh;
  }
  
  .mobile-menu a {
    color: black;
    text-decoration: none;
    font-size: 13px;
  }
  
  .mobile-menu a:hover {
    color: #009C41; /* Schimbă culoarea la hover */
  }
  .textalb {
    color: black !important;
  }
  .optiuniMobil {
    margin-top: 8vh;
  }
  .textLoginMobil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto !important;
  }
  .mobilfixchenar {
    display: block;
    position: relative;
    width: 62px;
  }
  .column {
    flex-direction: column;
  }
  .navLogo.mobil {
    position: absolute;
    left: 50%;
    top: 7vh;
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
  }
  .navLogo.mobil a svg{
    height: 10vh;
  }