@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* navbar */

nav {
    /*stilizare navbar*/
    position: absolute;
    width: 100vw;
    min-height: 11vh;
    left: 0;
    right: 0px;
    gap:8vw;
    top: 0px;
    display: flex;
    background: #00236D;
    box-shadow: 0px 1px 14px #021B2C;
    border-radius: 0px 0px 25px 25px;
}


nav ul {
    /*componenta pentru link-uri*/
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}
nav ul li {
    position: relative;
}
.loginSVG {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setari {
    position: relative;
    margin-left: auto;
    right: 4vw;
}
.textLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto !important;
}
.textSectiuni {
    /*text pentru linkurile de recipe si add recipe*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}

.navLogo {
    /*div principal pentru header*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 4vw;
}

.logoText {
    /* chef */
    display: inline;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
